# keep the build context small

__pycache__
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

*.sqlite3
db.sqlite3

docs/_build/

.idea/
.vscode/
.DS_Store
Thumbs.db

.git/
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

SECRETS.txt
